<div class="container">
    <h2>Projetos</h2>
    <div class="Projects-container">
        @for (project of projects; track project.id) {
            <div class="project-content" (click)="openProject(project.url)">
                <h3>{{project.name}}</h3>
                <div class="techs">
                    @for (tech of project.iconsTech; track $index) {
                        <i [class]="tech"></i>
                    }
                </div>
            </div>
        }
    </div>
</div>
