:host {
    display: block;
}

.container{
    h2{
        margin-top: 10vh;
        text-align: center;
        font-size: 35px;
    }
    .Projects-container {
        width: calc(100% - 80px);
        outline: 2px dashed rgba(18, 18, 18, 0.304);
        outline-offset: -30px;
        padding: 40px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        @media (max-width: 900px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (max-width: 500px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        .project-image{
            margin: 5px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            background-size: contain;
            background-clip: border-box;
            border-radius: 5px;

            .project-content {
            display: flex;
            height: 190px;
            z-index: 2;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #00000092;
            border: #3b3b3bbd 2px dashed;
            border-radius: 5px;
            text-shadow: 2px 2px 10px #ffffff35;
            color: #ffffffd3;
            cursor: pointer;

            @media (max-width: 900px) {
                    height: 150px;
            }

            @media (max-width: 500px) {
                    height: 150px;
            }

            h3 {
                font-size: 24px;
            }

            .techs {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                width: 70%;
                gap: 5px;

                i {
                    text-align: center;
                    color: #ffffffd3;
                    font-size: 20px;
                    height: 20px;
                    z-index: 2;
                }
            }
        }
        }
    }
}