<div #canvasContainer class="hero"></div>
<div class="texts">
    <label></label>
</div>

<div class="about-container">
    <div class="about-me">
        <img src="../../../assets/Erick Foto.jpeg" alt="">
        <h3>Olá, me chamo Erick!</h3>
        <p>Jovem, estudante de sistemas de informação na FURB, Desenvolvedor em C# e Angular. Focado em soluções web escaláveis, com conhecimento em APIs REST, MySQL, boas práticas, versionamento com Git e autenticação.</p>
        <div class="links">
            <a mat-stroked-button class="btn" color="primary" href="https://github.com/bokargiu" target="_blank">
                <i class="devicon-github-original colored"></i>
            </a>
            <a mat-stroked-button class="btn" color="primary" href="https://www.linkedin.com/in/erick-julio-staack/" target="_blank">
                <i class="devicon-linkedin-plain"></i>
            </a>
        </div>
    </div>
</div>
