.content {
    min-height: 300vh;
    max-width: 100vw;
    color: white;

    h2 {
        font-size: 35px;
        text-align: center;
    }

    header {
        min-height: 21px;
        height: 8%;
        width: 100%;
        max-width: 100vw;
        position: fixed;
        z-index: 1000;
        transition: transform 0.3s ease;
    }

    .header {
        transform: translateY(-100%);
    }
}
